{{- if index .Legends 0 -}}
<div><div class="state_0"></div>Cleared</div>
{{- end -}}
{{- if index .Legends 1 -}}
<div><div class="state_1"></div>Expired</div>
{{- end -}}
{{- if index .Legends 2 -}}
<div><div class="state_2"></div>Requested</div>
{{- end -}}
{{- if index .Legends 3 -}}
<div><div class="state_3"></div>Received</div>
{{- end -}}
{{- if index .Legends 4 -}}
<div><div class="state_4"></div>Evicted</div>
{{- end -}}
{{- if index .Legends 5 -}}
<div><div class="state_5"></div>Skipped</div>
{{- end -}}
{{- if index .Legends 6 -}}
<div><div class="state_6"></div>Empty</div>
{{- end -}}
{{- if index .Legends 7 -}}
<div><div class="state_7"></div>Prefetched</div>
{{- end -}}
{{- if index .Legends 8 -}}
<div><div class="state_8"></div>InDb</div>
{{- end -}}
<p>{{.BlockNum}}</p>
{{- range .Pre10_000_000 -}}
    <div class="pre10_000_000"></div>
{{- end -}}
{{- range .Pre1_000_000 -}}
    <div class="pre1_000_000"></div>
{{- end -}}
{{- range .Pre100_000 -}}
    <div class="pre100_000"></div>
{{- end -}}
{{- range .Pre10_000 -}}
    <div class="pre10_000"></div>
{{- end -}}
{{- range .Pre1_000 -}}
    <div class="pre1_000"></div>
{{- end -}}
{{- range .Pre100 -}}
    <div class="pre100"></div>
{{- end -}}
{{- range .Pre10 -}}
    <div class="pre10"></div>
{{- end -}}
{{- range .Pre1 -}}
    <div class="pre1"></div>
{{- end -}}
{{- range .States -}}
    <div class="state_{{.State}}"></div>
{{- end}}
