<html>  
    <head>
        <meta charset="utf-8"/>
        <link href="/script/style.css" rel="stylesheet"/>
        <script src="/script/session.js"></script>
    </head>
    <body>
        <form action="" method="post" id="session_form">
            <input type="hidden" id="current_session_name" name="current_session_name" value="{{.SessionName}}"/>
            <div class="solid">
                <div>
                    <label for="session_name">Session Name (1 to 64 characters):</label>
                    <input type="text" id="session_name" name="session_name" minlength="1" maxlength="64">
                    <input id="newsession" type="submit" name="new_session" value="New operator session"/>
                    <label for="pin">Session PIN (up to 8 digits)</label>
                    <input id="pin" type="number" name="pin" min="0" max="99999999"/>
                    <button id="resumesession" type="button" onclick="fetchSession('{{.SessionName}}', 'resume')">Resume or take over operator session</button>
                </div>
            </div>
            <div class="solid">
                <label>Switch to existing session: </label>
                {{ range $key, $value := .UiNodes}}
                    <button id="pin{{$key}}" name="pin{{$key.SessionPin}}"  type="button" onclick="fetchSession('{{$key.SessionName}}', 'switch', 'pin{{$key.SessionPin}}')">{{$key.SessionName}}</button>
                {{end}}
            </div>
            <div>
                <ul>
                    {{range .Errors}}
                        <li>ERROR: {{.}}</li>
                    {{end}}
                </ul>
                {{if .Session}}
                    <h2>SESSION: {{.SessionName}} PIN: {{.SessionPin}}</h2>
                    {{if .NodeS.Connected}}
                        <p class="solid">Connected, Remote Address: {{.NodeS.RemoteAddr}}, Support Version: {{.NodeS.SupportVersion}}</p>
                    {{else}}
                        <p class="solid">NOT Connected, Last Remote Address: {{.NodeS.RemoteAddr}}</p>
                    {{end}}
                    <div>
                        <button type="button" onclick="fetchContent('{{.SessionName}}', 'versions', '/ui/versions', 'versions')">Fetch Versions</button>
                        <div id="versions"></div>
                    </div>
                    <div>
                        <button type="button" onclick="fetchContent('{{.SessionName}}', 'command line args', '/ui/cmd_line', 'cmdlineargs')">Fetch Command Line</button>
                        <div id="cmdlineargs"></div>
                    </div>
                    <div>
                        <button type="button" onclick="fetchContent('{{.SessionName}}', 'context flags', '/ui/flags', 'flags')">Fetch Flags</button>
                        <div id="flags"></div>
                    </div>
                    <div>
                        <button type="button" onclick="fetchContent('{{.SessionName}}', 'log list', '/ui/log_list', 'loglist')">Fetch Log List</button>
                        <div id="loglist"></div>
                    </div>
                    <div>
                        <button type="button" onclick="fetchContent('{{.SessionName}}', 'sync stages', '/ui/sync_stages', 'syncstages')">Fetch Sync Stages</button>
                        <div id="syncstages"></div>
                    </div>
                    <div>
                        <button type="button" onclick="headersDownload('{{.SessionName}}')">Headers Download</button>
                        <div id="headers_download"></div>
                    </div>
                    <div>
                        <button type="button" onclick="findReorgs('{{.SessionName}}')">Find Reorgs</button>
                        <div id="reorgs"></div>
                    </div>
                    <div>
                        <button type="button" onclick="findReorgsInDetail('{{.SessionName}}')">Find Reorgs In Detail</button>
                        <div id="reorgs_in_detail"></div>
                    </div>
                    <div>
                        <button type="button" onclick="bodiesDownload('{{.SessionName}}')">Bodies Download</button>
                        <div id="bodies_download"></div>
                    </div>
                {{end}}
            </div>
</form>
    </body>
    <script>
     </script>
</html>
