<html>  
    <head>
        <meta charset="utf-8"/>
        <link href="/script/style.css" rel="stylesheet"/>
        <script src="/script/session.js"></script>
    </head>
    <body>
        <form action="" method="post" id="session_form">
        <!-- <div> -->
            <input type="hidden" id="current_sessionname" name="current_sessionname" value="{{.SessionName}}"/>
            <div class="solid">
                <div>
                    <label for="sessionname">Session Name (1 to 64 characters):</label>
                    <input type="text" id="sessionname" name="sessionname" minlength="1" maxlength="64">
                    <input id="newsession" type="submit" name="new_session" value="New operator session"/>
                    <!-- <button id="newsession" type="button" onclick="newSession()">New operator session</button> -->
                    <label for="pin">Session PIN (up to 8 digits)</label>
                    <input id="pin" type="number" name="pin" min="0" max="99999999"/>
                    <!-- <input id="resumesession" type="submit" name="resume_session" value="Resume or take over operator session"/> -->
                    <button id="resumesession" type="button" onclick="resumeSession('{{.SessionName}}')">Resume or take over operator session</button>
                </div>
            </div>
            <div class="solid">
                <label>Switch to existing session: </label>
                {{range .UiNodes}}
                    <!-- <input id="pin{{.SessionPin}}" type="submit" name="pin{{.SessionPin}}" value="{{.SessionName}}"/> -->
                    <button id="pin{{.SessionPin}}" name="pin{{.SessionPin}}" type="button" onclick="switchSession('{{.SessionName}}', 'pin{{.SessionPin}}')">{{.SessionName}}</button>
                {{end}}
            </div>
        <!-- </div> -->
            <div>
                <ul>
                    {{range .Errors}}
                        <li>ERROR: {{.}}</li>
                    {{end}}
                </ul>
                {{if .Session}}
                    <h2>SESSION: {{.SessionName}} PIN: {{.SessionPin}}</h2>
                    {{if .NodeS.Connected}}
                        <p class="solid">Connected, Remote Address: {{.NodeS.RemoteAddr}}, Support Version: {{.NodeS.SupportVersion}}</p>
                    {{else}}
                        <p class="solid">NOT Connected, Last Remote Address: {{.NodeS.RemoteAddr}}</p>
                    {{end}}
                    <div>
                        <button type="button" onclick="fetchContent('{{.SessionName}}', 'versions', '/ui/versions', 'versions')">Fetch Versions</button>
                        <div id="versions"></div>
                    </div>
                    <div>
                        <button type="button" onclick="fetchContent('{{.SessionName}}', 'command line args', '/ui/cmd_line', 'cmdlineargs')">Fetch Command Line</button>
                        <div id="cmdlineargs"></div>
                    </div>
                    <div>
                        <button type="button" onclick="fetchContent('{{.SessionName}}', 'log list', '/ui/log_list', 'loglist')">Fetch Log List</button>
                        <div id="loglist"></div>
                    </div>
                    <div>
                        <button type="button" onclick="findReorgs('{{.SessionName}}')">Find Reorgs</button>
                        <div id="reorgs"></div>
                    </div>
                    <div>
                        <button type="button" onclick="bodiesDownload('{{.SessionName}}')">Bodies Download</button>
                        <div id="bodies_download"></div>
                    </div>
                {{end}}
            </div>
        <!-- </div> -->
</form>
    </body>
    <script>
     </script>
</html>
