<html>  
    <head>
        <meta charset="utf-8"/>
        <style>
            div.solid {border-style: solid;}
        </style>
    </head>
    <body>
        <form action="" method="post">
            <div class="solid">
                <div>
                    <label for="sessionname">Session Name (1 to 64 characters):</label>
                    <input type="text" id="sessionname" name="sessionname" minlength="1" maxlength="64">
                    <input id="newsession" type="submit" name="{{.ButtonNames.NewSession}}" value="New operator session"/>
                </div>
                <div>
                    <label for="sessionname">Session Name (1 to 64 characters):</label>
                    <input type="text" id="sessionname" name="sessionname" minlength="1" maxlength="64">
                    <label for="pin">Session ID (up to 8 digits)</label>
                    <input id="pin" type="number" name="pin" min="0" max="99999999"/>
                    <input id="resumesession" type="submit" name="{{.ButtonNames.ResumeSession}}" value="Resume or take over operator session"/>
                </div>
            </div>
            <div class="solid">
                {{range .UiNodes}}
                <div>
                    <input id="pin{{.SessionPin}}" type="submit" name="pin{{.SessionPin}}" value="{{.SessionName}}"/>
                </div>
                {{end}}
            </div>
            <div>
                <ul>
                    {{range .Errors}}
                        <li>ERROR: {{.}}</li>
                    {{end}}
                </ul>
                {{if .Session}}
                    <h1>SESSION: {{.SessionName}} PIN: {{.SessionPin}}</h1>
                {{end}}
            </div>
        </form>
    </body>
    <script>
     </script>
</html>
