div.solid {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}
table {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}
table, tr, td {
    border: 1px solid #999;
}
p.solid {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}
div.progress {
    border: 1px dotted black;
    width: 10px;
    display: inline-block;
    height:10px;
    margin-right:2px;
    margin-bottom:2px;
}
div.block {
    display: inline-block;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}
div.pre10_000_000 {
    border: 1px dotted black;
    width: 42px;
    display: inline-block;
    height:42px;
    margin-right:2px;
    margin-bottom:2px;
}
div.pre1_000_000 {
    border: 1px dotted black;
    width: 38px;
    display: inline-block;
    height:38px;
    margin-right:2px;
    margin-bottom:2px;
}
div.pre100_000 {
    border: 1px dotted black;
    width: 34px;
    display: inline-block;
    height:34px;
    margin-right:2px;
    margin-bottom:2px;
}
div.pre10_000 {
    border: 1px dotted black;
    width: 30px;
    display: inline-block;
    height:30px;
    margin-right:2px;
    margin-bottom:2px;
}
div.pre10_000 {
    border: 1px dotted black;
    width: 26px;
    display: inline-block;
    height:26px;
    margin-right:2px;
    margin-bottom:2px;
}
div.pre1_000 {
    border: 1px dotted black;
    width: 22px;
    display: inline-block;
    height:22px;
    margin-right:2px;
    margin-bottom:2px;
}
div.pre100 {
    border: 1px dotted black;
    width: 18px;
    display: inline-block;
    height:18px;
    margin-right:2px;
    margin-bottom:2px;
}
div.pre10 {
    border: 1px dotted black;
    width: 14px;
    display: inline-block;
    height:14px;
    margin-right:2px;
    margin-bottom:2px;
}
div.pre1 {
    border: 1px dotted black;
    width: 10px;
    display: inline-block;
    height:10px;
    margin-right:2px;
    margin-bottom:2px;
}
div.state_0 {
    display: inline-block;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: white;
}
div.state_1 {
    display: inline-block;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: yellow;
}
div.state_2 {
    display: inline-block;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: blue;
}
div.state_3 {
    display: inline-block;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: green;
}
div.state_4 {
    display: inline-block;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: red;
}
div.state_5 {
    display: inline-block;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: brown;
}
div.state_6 {
    display: inline-block;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: cyan;
}
div.state_7 {
    display: inline-block;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: purple;
}
div.state_8 {
    display: inline-block;
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    background-color: black;
}