div.solid {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}
table {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}
table, tr, td {
    border: 1px solid #999;
}
p.solid {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}
div.progress {
    border: 1px dotted black;
    width: 10px;
    display: inline-block;
    height:10px;
    margin-right:2px;
    margin-bottom:2px;
}
div.block {
    display: inline-block;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;   
}